
// Баркод
@font-face {
  font-family: "Barcode";
  src: url("./LibreBarcode39-Regular.ttf") format("truetype");
}

// Mark - Aze
@font-face {
  font-family: "MarkPro-ExtraLight";
  src: url("./MarkPro-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Thin";
  src: url("./MarkPro-Thin.otf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Book";
  src: url("./MarkPro-Book.otf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Light";
  src: url("./MarkPro-Light.otf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Regular";
  src: url("./MarkPro-Regular.otf") format("truetype");
}

// Snell_Roundhand - AZE
@font-face {
  font-family: "snellroundhand_black";
  src: url("./Snell_Roundhand/snellroundhand_black.otf") format("truetype");
}
@font-face {
  font-family: "snellroundhand_bold";
  src: url("./Snell_Roundhand/snellroundhand_bold.otf") format("truetype");
}

// impact - AZE


@font-face {
  font-family: "Cormac-Black";
  src: url("./cormac/Cormac-Black.otf") format("truetype");
}

@font-face {
  font-family: "Cormac-ExtraLight";
  src: url("./cormac/Cormac-ExtraLight.otf") format("truetype");
}




