@mixin button_styles {
  width: calc(1.5vw + 1.5rem);
  height: calc(1.5vw + 1.5rem);
  padding: calc(0.2vw + 0.2rem);
  border-radius: 50%;
  border: 1px solid #36a3eb;
  transition: 0.6s;
  background-color: transparent;
  box-shadow: 0 0 5px black;
  &:hover {
    background-color: transparent;
    border: transparent;

  }
}
