@import "../../assets/fonts/variables.scss";

.footer {
  background: $background_color;

  position: relative;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 20px;

  .line {
    border-bottom: 0.05vh solid $color_white;
    box-shadow: 0 3px 5px rgb(253, 253, 253);
    margin: calc(1vw + 1rem) 0;
  }
}
